body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f6f6f6;
}

header {
    background-color: #FEDDF8;
    color: black;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.header-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.logo-titulo {
    display: flex;
    align-items: center;
    flex: 1;
}

.logo {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.menu {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-wrap: nowrap;
}

.menulink {
    color: black;
    font-weight: bolder;
    font-size: 16px;
    text-decoration: none;
    margin-left: 20px;
}

.menulink:hover {
    text-decoration: underline;
}

.search-container {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.search-bar {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.search-button {
    padding: 8px 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #555;
}

.dropdown {
    position: relative;
}

.dropbtn {
    background-color: transparent;
    color: black !important;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    padding-left: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
    color: black !important;
}

.linksisr {
    display: flex;
    align-items: center;
}

.linksisr a {
    margin-left: 20px;
    color: black;
    text-decoration: none;
    font-size: smaller;
    font-weight: lighter;
}

.linksisr a:hover {
    text-decoration: underline;
}

.contenido {
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.contenido .parteizqda {
    width: 70%;
    float: left;
}

.contenido .partedcha {
    width: 30%;
    float: left;
    height: 300px;
}

.contenido .parteizqda .post {
    width: 90%;
    margin: 10px auto;
    border-radius: 5px;
    height: auto;
    background: white;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.contenido .parteizqda .titulopost {
    margin: 20px;
}

.contenido .parteizqda .post .vistaprevia {
    text-align: center;
    white-space: pre-line;
    width: 100%;
    padding: 0 20px;
}

.contenido .partedcha .boton {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

.redirect-button {
    padding: 15px 30px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.redirect-button:hover {
    background-color: #555;
}

.piepagina {
    background: darkseagreen;
    color: #000;
    padding: 25px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.piepagina .contenidofinal {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.piepagina .contactored, .piepagina .contactoformulario {
    flex: 1;
    padding: 0 20px;
}

.piepagina .contactoformulario {
    display: flex;
    flex-direction: column;
    order: 2;
    margin-top: 20px;
}

.piepagina .contactoformulario form {
    display: flex;
    flex-direction: column;
}

.piepagina .contactoformulario input, 
.piepagina .contactoformulario textarea, 
.piepagina .contactoformulario button {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.piepagina .contactoformulario button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.piepagina .contactoformulario button:hover {
    background-color: #555;
}

.piepagina .partefinal {
    background-color: rgb(148, 187, 148);
    color: #555;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

/* Media Queries */
@media (max-width: 1024px) {
    .contenido .parteizqda, .contenido .partedcha {
        width: 100%;
        float: none;
    }

    .contenido .partedcha {
        margin-top: 20px;
        height: auto;
    }

    .contenido .parteizqda .post {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .logo-titulo {
        justify-content: center;
        margin-bottom: 20px;
    }

    .vertical-line {
        display: none;
    }

    .menu {
        justify-content: center;
        flex-grow: 0;
    }

    .menulink {
        margin: 0 10px;
    }

    .search-container {
        justify-content: center;
        margin-top: 10px;
        width: 100%;
    }

    .search-bar, .search-button {
        width: calc(100% - 20px); /* Ajusta el ancho para no causar desbordamiento */
        margin: 5px 10px;
    }

    .linksisr {
        justify-content: center;
        width: 100%;
        display: flex;
    }
}

@media (max-width: 480px) {
    .header-container {
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }

    .logo-titulo {
        justify-content: center;
        margin-bottom: 10px;
    }

    .vertical-line {
        display: none;
    }

    .menu {
        justify-content: center;
        flex-grow: 0;
    }

    .menulink {
        margin: 0 10px;
    }

    .search-container {
        justify-content: center;
        margin-top: 10px;
        flex-direction: column;
        width: 100%;
    }

    .search-bar, .search-button {
        width: calc(100% - 20px); /* Ajusta el ancho para no causar desbordamiento */
        margin: 5px 10px;
    }

    .linksisr {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .linksisr a {
        margin: 5px 0;
    }
}
