body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #FEDDF8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p {
    color: #838DAF;
    width: 80%;
    margin: 5px auto;
    display: block;
}

h1 {
    color: black;
    height: 30px;
    width: 80%;
    margin: auto;
    line-height: 10px;
    margin-top: 30px;
    display: block;
}
.izqda, .dchaconten {
    width: 50%;
    padding: 20px;
    background-color: #FEDDF8;
}
.izqda{
    width: 50%;
    height: 100vh;
    float: left;
    align-content: center;
    display: block;
}
.izqdaimg{
    margin: auto;
    display: block;
    width: 40%;
}

/* Estilos para el contenedor del formulario en la derecha */
.dchaconten {
    width: 50%;
    height: 100vh;
    float: right;
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
}

/* Estilos para el formulario */
form {
    background-color: white;
    border: 2px solid white;
    font-size: 11px;
    font-weight: 550;
    border-radius: 5px;
    max-width: 300px;
    width: 100%;
    padding: 20px;
    margin-top: auto; /* Centra verticalmente el formulario */
    margin-bottom: auto; /* Centra verticalmente el formulario */
}

span {
    color: #DB5A5A;
    width: 80%;
    margin: auto;
    font-size: 10px;
    display: block
}

.formElement {
    background-color: #FAFAFA;
    width: 80%;
    height: 32px;
    margin: auto;
    border-radius: 3px;
    border: none;
    text-indent: 10px;
    display: block;
}

.inputcontenedor {
    margin: 1em auto;
    height: 70px;
    display: block
}

.valid {
    box-shadow: inset 0 0 0 2px #50ce67;
    border-radius: 3px;
}

.invalid {
    box-shadow: inset 0 0 0 2px #d95757;
    border-radius: 3px;
}

#button {
    color: white;
    width: 82%;
    height: 40px;
    margin: 15px auto;
    background-color: darkseagreen;
    border: 2px#292b2b solid;
    border-radius: 5px;
    font-size: 11px;
    font-weight: 500;
    display: block;
}

.borderColor {
    background-color: mediumseagreen !important;
}